option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: parking_project.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: parking_project.settings
    AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
    AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_KEY }}"
    AWS_REGION: "us-east-1"
    AWS_STORAGE_BUCKET_NAME: "x23417498-parking-s3"
    SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:296779434624:ParkingNotifications"
    DATABASE_URL: "mysql://admin:zxcvbnm1234567@parkingdb-instance.cb3ysdqsmzfo.us-east-1.rds.amazonaws.com:3306/x23417498_db"
    DEBUG: "True"
    ALLOWED_HOSTS: "127.0.0.1,localhost,parkingapp-env.eba-pjwcyf2j.us-east-1.elasticbeanstalk.com"
    SECRET_KEY: "O0wGQ7by2BdbyOYfD-4JAs3mKQ9nAgxS1RW-7CaPxbYmXbODb6yroBZ2-tVbqZbg2mw"
    AWS_REGION: "us-east-1"
    DJANGO_SETTINGS_MODULE: "parking_project.settings"

    DB_NAME: "x23417498_db"
    DB_USER: "admin"
    DB_PASSWORD: "zxcvbnm1234567"
    DB_HOST: "parkingdb-instance.cb3ysdqsmzfo.us-east-1.rds.amazonaws.com"
    DB_PORT: "3306"
    SECURE_SSL_REDIRECT: "True"
    SESSION_COOKIE_SECURE: "True"
    CSRF_COOKIE_SECURE: "True"