option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: parking_project.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: parking_project.settings
    AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
    AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_KEY }}"
    AWS_STORAGE_BUCKET_NAME: "x23417498-parking-s3"
    SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:296779434624:ParkingNotifications"
    DATABASE_URL: "mysql://admin:zxcvbnm1234567@parkingdb-instance.cb3ysdqsmzfo.us-east-1.rds.amazonaws.com:3306/x23417498_db"
    DEBUG: "True"
    ALLOWED_HOSTS: "127.0.0.1,localhost,44.214.76.222"
    SECRET_KEY: "O0wGQ7by2BdbyOYfD-4JAs3mKQ9nAgxS1RW-7CaPxbYmXbODb6yroBZ2-tVbqZbg2mw"