option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: parking_project.wsgi:application
  aws:elasticbeanstalk:environment:proxy:_:
    DJANGO_SETTINGS_MODULE: parking_project.settings
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
    AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_KEY }}"
    AWS_STORAGE_BUCKET_NAME: "x23417498-parking-s3"
    SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:296779434624:ParkingNotifications"
    DATABASE_URL: "parkingdb-instance.cb3ysdqsmzfo.us-east-1.rds.amazonaws.com"