option_settings:
  aws:elasticbeanstalk:application:environment:
    GUNICORN_WORKERS: "4"
    GUNICORN_TIMEOUT: "300"
commands:
  01_update_gunicorn:
    command: "sed -i 's/--workers 3/--workers $GUNICORN_WORKERS --timeout $GUNICORN_TIMEOUT/' /opt/elasticbeanstalk/config/private/gunicorn/gunicorn.conf || true"