option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "parking_project.wsgi:application"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "parking_project.settings"
    AWS_REGION: "us-east-1"
    AWS_STORAGE_BUCKET_NAME: "x23417498-parking-bucket"
    SNS_TOPIC_ARN: "arn:aws:sns:us-east-1:337825745507:ParkingNotifications"
    DB_NAME: "x23417498_db"
    DB_USER: "admin"
    DB_PASSWORD: "zxcvbnm1234567"
    DB_HOST: "parkingdb-instance.cqxsqm684dqh.us-east-1.rds.amazonaws.com"
    DB_PORT: "3306"
    DEBUG: "False"
    ALLOWED_HOSTS: "127.0.0.1,localhost,parking-app-env.eba-6gs3pgjb.us-east-1.elasticbeanstalk.com,.elasticbeanstalk.com"
    SECURE_SSL_REDIRECT: "True"
    SESSION_COOKIE_SECURE: "True"
    CSRF_COOKIE_SECURE: "True"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
  aws:elasticbeanstalk:command:
    Timeout: 1800
  aws:elbv2:listener:80:
    Protocol: HTTP
    ListenerEnabled: true
    Rules: redirect-to-https
  aws:elbv2:listener:443:
    Protocol: HTTPS
    ListenerEnabled: true
    Priority: 1
    Conditions:
      - Field: path-pattern
        Values: ['/*']
    Actions:
      - Type: redirect
        RedirectConfig:
          Protocol: HTTPS
          Port: 443
          StatusCode: HTTP_301
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/parking/"
    MatcherHTTPCode: "200"
    Port: "8000"
    Protocol: HTTP
  aws:autoscaling:launchconfiguration:
    InstanceType: "t3.micro"